@font-face {
  font-family: 'Aspekta-400';
  src: local('Aspekta-400'), url(/home/atifrit/aa-projects/websites/aspekta/fonts/webfonts/Aspekta-400.woff2) format('woff2');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}


.profile-dropdown {
  position: absolute;
  top: 40px;
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  background-color: white;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.navContainer {
  width: 310px;
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.navbarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hamburgerLinks {
  margin-top: 10px;
  font-family: 'Aspekta-400';
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.hamburgerButton {
  width: 25px;
  height: 25px;
  background-color: white;
  border: none;
}

i {
  font-size: 25px;
}
